.box{
    height: 150px;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur{
    display: grid;
    grid-template-columns: 100px 200px 300px 200px 100px;
    gap: 10px;
}

.box1{
    height: inherit;
}

.conteneur1{
    display: grid;
    /* grid-template-columns: 100px 200px 300px 200px 100px; */
    /* grid-template-rows: 200px 300px; */
    grid-template-rows: 200px 300px 100px 300px;
    grid-template-columns: 200px 200px 200px 200px 200px;
    gap: 10px;
}

.conteneur2{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px;
    gap: 10px;
}

.box_un{
    grid-column-start: 1;
    grid-column-end: 7;
}

.box_deux{
    grid-row-start: 2;
    grid-row-end: 4;
}

.box_trois{
    grid-column: 2/4;
}
.box_quatre{
    grid-column: 4/7;
}
.box_cinq{
    grid-column: 2/7;
}
.box_six{
    grid-column: 1/5;
}
.box_sept{
    grid-column: 5/7;
}
.box_huit{
    grid-column: 1/3;
}
.box_neuf{
    grid-column: 3/6;
}
.positionnement-relatif{
    position: relative;
    /* display: inline-block; */
    right: 800px;
    left: 80px;
}
.positionnement-absolu{
    position: absolute;
    left: 100px;
    top: 300px;
    background-color: rgb(187, 168, 168);
}
.bloc1, .bloc2, .bloc3{
    display: flex;
    background-color: aquamarine;
    border: 10px double black;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
}
.bloc1{
    z-index: 2;
}
.bloc2{
    background-color: antiquewhite;
    top: 20px;
    left: 120px;
}
.bloc3{
    background-color: darksalmon;
    top: 120px;
    left: 30px;
    z-index: 3;
}